<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60">
    <Properties>
        <Property name="logDir">logs</Property>
        <Property name="ts">${date:yyyy-MM-dd-HH-mm-ss-SSS}</Property>
        <Property name="logPattern">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %-30c{1}:%-4L - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPattern}"/>
        </Console>

        <File name="MainAppLogFile"
              fileName="${logDir}/mainapp-${ts}.log"
              append="false">
            <PatternLayout pattern="${logPattern}"/>
        </File>

        <File name="FileHibernate"
              fileName="${logDir}/hibernate-${ts}.log"
              append="false">
            <PatternLayout pattern="${logPattern}"/>
        </File>

        <File name="FileHibernateSQL"
              fileName="${logDir}/hibernate-sql-${ts}.log"
              append="false">
            <PatternLayout pattern="${logPattern}"/>
        </File>

        <File name="FileHibernateStats"
              fileName="${logDir}/hibernate-stats-${ts}.log"
              append="false">
            <PatternLayout pattern="${logPattern}"/>
        </File>

        <File name="FileHibernateFlush"
              fileName="${logDir}/hibernate-flush-${ts}.log"
              append="false">
            <PatternLayout pattern="${logPattern}"/>
        </File>

        <File name="FileHikariCP"
              fileName="${logDir}/hikaricp-${ts}.log"
              append="false">
            <PatternLayout pattern="${logPattern}"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <!-- Muestra solo INFO+ en consola -->
            <AppenderRef ref="Console" level="info"/>

            <!-- Guarda DEBUG+ en el fichero -->
            <AppenderRef ref="MainAppLogFile" level="debug"/>
        </Root>

        <Logger name="org.hibernate"
                level="debug"
                additivity="false">
            <AppenderRef ref="FileHibernate"/>
        </Logger>

        <Logger name="org.hibernate.SQL"
                level="debug"
                additivity="false">
            <AppenderRef ref="FileHibernateSQL"/>
        </Logger>

        <Logger name="org.hibernate.stat"
                level="debug"
                additivity="false">
            <AppenderRef ref="FileHibernateStats"/>
        </Logger>

        <Logger name="org.hibernate.engine.jdbc.batch.internal.BatchingBatch"
                level="debug"
                additivity="false">
            <AppenderRef ref="FileHibernateFlush"/>
        </Logger>

        <Logger name="com.zaxxer.hikari"
                level="debug"
                additivity="false">
            <AppenderRef ref="FileHikariCP"/>
        </Logger>
    </Loggers>
</Configuration>
