<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!-- Consola -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %-30c{1}:%-4L - %m%n" />
        </Console>

        <!-- Archivos de Registro -->
        <File name="MainAppLogFile" fileName="logs/mainapp-${date:yyyy-MM-dd_HH-mm-ss}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %-30c{1}:%-4L - %m%n" />
        </File>

        <File name="PropertiesHelper" fileName="logs/properties_helper-${date:yyyy-MM-dd_HH-mm-ss}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %-30c{1}:%-4L - %m%n" />
        </File>

        <File name="EmailHelper" fileName="logs/email_helper-${date:yyyy-MM-dd_HH-mm-ss}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %-30c{1}:%-4L - %m%n" />
        </File>

        <File name="EncryptHelper" fileName="logs/encrypt_helper-${date:yyyy-MM-dd_HH-mm-ss}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %-30c{1}:%-4L - %m%n" />
        </File>

        <File name="VersionHelper" fileName="logs/version_helper-${date:yyyy-MM-dd_HH-mm-ss}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %-30c{1}:%-4L - %m%n" />
        </File>

        <!-- Hibernate Logs Separados -->
        <File name="FileHibernate" fileName="logs/hibernate-general-${date:yyyy-MM-dd_HH-mm-ss}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %-30c{1}:%-4L - %m%n" />
        </File>

        <File name="FilePersistence" fileName="logs/hibernate-persistence-${date:yyyy-MM-dd_HH-mm-ss}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %-30c{1}:%-4L - %m%n" />
        </File>

        <File name="FileHibernateSQL" fileName="logs/hibernate-sql-${date:yyyy-MM-dd_HH-mm-ss}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %-30c{1}:%-4L - %m%n" />
        </File>

        <!-- Log para Hibernate Statistics -->
        <File name="FileHibernateStats" fileName="logs/hibernate-stats-${date:yyyy-MM-dd_HH-mm-ss}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %-30c{1}:%-4L - %m%n" />
        </File>

        <!-- Log para Flush y Execution Plan -->
        <File name="FileHibernateFlush" fileName="logs/hibernate-flush-${date:yyyy-MM-dd_HH-mm-ss}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %-30c{1}:%-4L - %m%n" />
        </File>

        <!-- Reflections -->
        <File name="FileReflections" fileName="logs/reflection-${date:yyyy-MM-dd_HH-mm-ss}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %-30c{1}:%-4L - %m%n" />
        </File>

        <!-- HikariCP -->
        <File name="FileHikariCP" fileName="logs/hikaricp-${date:yyyy-MM-dd_HH-mm-ss}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %-30c{1}:%-4L - %m%n" />
        </File>
    </Appenders>

    <Loggers>
        <!-- Loggers varios -->
        <Logger name="local.jarios.properties" level="INFO" additivity="false">
            <AppenderRef ref="PropertiesHelper"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="local.jarios.email" level="INFO" additivity="false">
            <AppenderRef ref="EmailHelper"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="local.jarios.encrypt" level="INFO" additivity="false">
            <AppenderRef ref="EncryptHelper"/>
        </Logger>

        <Logger name="local.jarios.version" level="INFO" additivity="false">
            <AppenderRef ref="VersionHelper"/>
        </Logger>

        <Logger name="org.reflections.Reflections" level="INFO" additivity="false">
            <AppenderRef ref="FileReflections"/>
        </Logger>

        <Logger name="com.zaxxer.hikari" level="DEBUG" additivity="false">
            <AppenderRef ref="FileHikariCP"/>
        </Logger>

        <Logger name="local.jarios" level="TRACE" additivity="false">
            <AppenderRef ref="MainAppLogFile"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Hibernate General (todo excepto lo específico) -->
        <Logger name="org.hibernate" level="DEBUG" additivity="false">
            <AppenderRef ref="FileHibernate"/>
        </Logger>

        <!-- Hibernate Persistence -->
        <Logger name="javax.persistence" level="DEBUG" additivity="false">
            <AppenderRef ref="FilePersistence"/>
        </Logger>

        <!-- Hibernate SQL -->
        <Logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <AppenderRef ref="FileHibernateSQL"/>
        </Logger>

        <!-- Hibernate Statistics -->
        <Logger name="org.hibernate.stat" level="DEBUG" additivity="false">
            <AppenderRef ref="FileHibernateStats"/>
        </Logger>

        <!-- Hibernate Flush y Execution Plan -->
        <Logger name="org.hibernate.engine.internal.StatisticalLoggingSessionEventListener" level="DEBUG" additivity="false">
            <AppenderRef ref="FileHibernateFlush"/>
        </Logger>

        <!-- Hibernate SQL Bind Parameters -->
        <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="DEBUG" additivity="false">
            <AppenderRef ref="FileHibernate"/>
        </Logger>
    </Loggers>
</Configuration>
